{% extends 'layout1.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Language List</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div id="customerList">
          <div class="row g-4 mb-3">
            <div class="col-sm-auto">
              <div>
                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                  data-bs-target="#showModal">
                  <i class="ri-add-line align-bottom me-1"></i> Add
                </button>
              </div>
            </div>

          <div class="table-responsive table-card mt-3 mb-1">
            <table class="table align-middle table-nowrap" id="customerTable">
              <thead class="table-light">
                <tr>
                  <th>
                    Language ID
                  </th>
                  <th>Language</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              {% for i in language %}                
             

              <tbody class="list form-check-all">
                <tr>
                  <td>{{i.id}}</td>
                  <td class="customer_name">{{i.language}}</td>
                  <td>
                    <div class="d-flex gap-2">
                      <div class="edit">
                        <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal"
                          data-bs-target="#editModal{{i.id}}">
                          Edit
                        </button>
                      </div>
                      <div class="remove">
                        <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal"
                          data-bs-target="#deleteModal{{i.id}}">
                          Remove
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              <div class="modal fade" id="deleteModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                  </div>
                            <form method="POST" action="{{url_for('admin_create.delete_language',id=i.id)}}">

                  <div class="modal-body">
                    <div class="mt-2 text-center">
                      <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                      <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you Sure ?</h4>
                        <p class="text-muted mx-4 mb-0">
                          Are you Sure You want to Remove this Language ?
                        </p>
                      </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                      <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn w-sm btn-danger" id="delete-record">
                        Yes, Delete It!
                      </button>
                    </div>
                  </div>
                </div>
                </form>
            </div>
          </div>





               <div class="modal fade" id="editModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                              <h5 class="modal-title" id="exampleModalLabel"></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                id="close-modal"></button>
                            </div>
                            <form method="POST" action="{{url_for('admin_create.edit_language',id=i.id)}}">
                              <div class="modal-body">

                                <div class="mb-3">
                                  <label for="language-field" class="form-label">Language</label>
                                  <input type="text" name="language" id="language-field"  value="{{i.language}}" class="form-control" placeholder="Enter Language"
                                    required />
                                </div>

                                
            
                                                 <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="submit" class="btn btn-success" id="add-btn">
                                    Update Language
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
              {% endfor %}

                            </tbody>
            </table>


          

            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button>
                  </div>
                  <form method="POST" action="{{url_for('admin_create.add_language')}}">
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="customername-field" class="form-label">Language</label>
                        <input type="text" name="language" id="customername-field" class="form-control"
                          placeholder="Enter Language" required />
                      </div>

                      <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                            Close
                          </button>
                          <button type="submit" class="btn btn-success" id="add-btn">
                            Add Language
                          </button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}