<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Sign In | Face Club - Admin Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='assets/images/simpLogo.png')}}">

    <!-- Layout config Js -->
    <script src="{{url_for('static',filename='assets/js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{url_for('static',filename='assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{url_for('static',filename='assets/css/app.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{url_for('static',filename='assets/css/custom.min.css')}}" rel="stylesheet" type="text/css" />

            <style>

@keyframes fade-out {
  from {
    visibility: 1;
  }

  to {
    opacity: 0;
  }
  100% {position: absolute; top: -9999px; left: -9999px;} 
  

}

.fade-out {
  animation-name: fade-out; 
}

.animated {
  animation-duration: 5s;
  animation-fill-mode: both;
}
        </style>

</head>

<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>
  

        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="#" class="d-inline-block auth-logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8 col-xl-5">
                        <div class="card mt-4">
                            <div class="container-fluid">
                                <div class="text-center mt-sm-5 mb-4 text-white-50 ">
                                    <div class="mt-5">
                                        <a href="#" class="d-inline-block auth-logo">
                                            <h2 class="" style="color: black;">Face Club</h2>
                                            <img src="{{url_for('static',filename='assets/images/logo1.png')}}" alt="" height="100" width="">
                                        </a>
                                    </div>
                                </div>
                                <br>
                            {% with messages = get_flashed_messages(with_categories=true) %} 
                            {% if messages %} 
                            {% for category,message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show fade-out animated">
                              {{ message }}
                             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>   
                            </div>
                            {% endfor %}
                            {% endif %} 
                            {% endwith %}
                            <form class="needs-validation" method="POST">
                            <div class="card-body p-4">
                               
                               
                                    
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                                        </div>
                                        <br>
                                        <div class="mb-3">
                                            
                                                <label for="password-input" class="form-label">password <span class="text-danger">*</span></label>
                                                <input type="password" class="form-control" name="password-input" id="password-input" placeholder="Enter Password" required>
                                                <div class="invalid-feedback">
                                                    Please enter Password
                                                </div>
                                                <div class="float-end">
                                                    <a href="{{url_for('admin_auth.reset_request')}}" class="text-muted">Forgot password?</a>
                                                </div>
                                            </div>
                                            <br>
                                            

                                        <div class="mt-4">
                                            <button class="btn btn-success w-100"  type="submit">Sign In</button>
                                        </div>

                                    
                                    </form>
                                
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                        <div class="mt-4 text-center">
                            <p class="mb-0">Don't have an account ? <a href="{{url_for('admin_auth.register')}}" class="fw-semibold text-primary text-decoration-underline"> Signup </a> </p>
                        </div>

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->

    </div>
    <!-- end auth-page-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="{{url_for('static',filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/libs/simplebar/simplebar.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/libs/node-waves/waves.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/libs/feather-icons/feather.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/plugins.js')}}"></script>

    <!-- particles js -->
    <script src="{{url_for('static',filename='assets/libs/particles.js/particles.js')}}"></script>
    <!-- particles app js -->
    <script src="{{url_for('static',filename='assets/js/pages/particles.app.js')}}"></script>
    <!-- password-addon init -->
    <script src="{{url_for('static',filename='assets/js/pages/password-addon.init.js')}}"></script>
</body>

</html>